#navbar .title{
  color: royalblue;
}
#navbar .navlinks{
  width: calc(100% - 272px);
}
#navbar .navlinks a{
  /*color: cornflowerblue;*/
}
#navbar .navlinks a div{
  background-color: cornflowerblue;
}
#navbar .navlinks a:hover{
  color: cornflowerblue;
}
#navbar .navlinks .activeNav{
  color: cornflowerblue;
  font-weight: 600;
}
#pageContent{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;
  animation: 0.2s ease fadeIn forwards;
}
#pageContent .heading{
  width: 95%;
  max-width: 440px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}
#pageContent #title{
  width: unset;
}
#title{
  font-size: 30px;
  border-bottom: 1px solid grey;
}
#time{
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 7px;
  font-size: 44px;
  font-weight: 600;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  border-radius: 2px;
}
#time:before{
  position: absolute;
  top: -2px;
  left: 0px;
  height: calc(100% + 4px);
  width: 20%;
  content: "";
  background: linear-gradient(to right,
     rgba(252, 252, 253, 1) 20%,
     rgba(252, 252, 253, 0) 80%
  );
  pointer-events: none;
}
#time:after{
  position: absolute;
  top: -2px;
  right: 0px;
  height: calc(100% + 4px);
  width: 20%;
  content: "";
  background: linear-gradient(to left,
     rgba(252, 252, 253, 1) 20%,
     rgba(252, 252, 253, 0) 80%
  );
  pointer-events: none;
}
#date{
  font-size: 24px;
}
#year{
  margin-top: 0px;
  font-size: 18px;
}
input{
  width: 100%;
  font-size: 22px;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
}
#output-link{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: unset;
  animation: 0.5s ease fadeIn forwards;
}
#output-link-text{
  width: calc(100% - 70px);
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid grey;
  border-radius: 3px 0px 0px 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  user-select: all;
}
#output-link-copy{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 44px;
  background-color: lightskyblue;
  border: 1px solid grey;
  border-left: unset;
  box-sizing: border-box;
  cursor: pointer;
}
#output-link-copy-success{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 44px;
  background-color: lightskyblue;
  border: 1px solid grey;
  border-left: unset;
  box-sizing: border-box;
  cursor: pointer;
}
#output-link-copy img{
  width: 85%;
  transform: rotate(-45deg);
}
#output-link-copy:hover{
  box-shadow: 0px 0px 3px grey;
}
#output-link-open{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 44px;
  background-color: lightskyblue;
  border: 1px solid grey;
  border-left: unset;
  border-radius: 0px 3px 3px 0px;
  box-sizing: border-box;
  cursor: pointer;
}
#output-link-open img{
  width: 80%;
}
#output-link-open:hover{
  box-shadow: 0px 0px 3px grey;
}

.button{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 12px;
  color: black;
  text-decoration: none;
  background-color: lightskyblue;
  border: unset;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s ease all;
}
.button img{
  margin-right: 5px;
}
.button p{
  margin: unset;
  margin-bottom: 3px;
  font-size: 20px;
}
.button:hover{
  box-shadow: 0px 0px 3px grey;
}

#input-submit{
  width: 95%;
  max-width: 440px;
  cursor: pointer;
}

.copy-success{
  animation: 1.7s ease fadeInOut forwards;
  pointer-events: none;
}
.copy-success-2 img{
  animation: 1.7s ease fadeInOut forwards;
}


.about-section{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  max-width: 600px;
  padding: 20px 30px 22px 30px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}
.about-section:nth-child(2){
  margin-top: 20px;
  border-top: 1px solid lightgrey;
}
.about-section:after{
  position: absolute;
  top: -1px;
  left: 0px;
  height: calc(100% + 2px);
  width: 100%;
  content: "";
  background: linear-gradient(to right,
     rgba(252, 252, 253, 1) 0%,
     rgba(252, 252, 253, 0) 5%,
     rgba(252, 252, 253, 0) 95%,
     rgba(252, 252, 253, 1) 100%
  );
  pointer-events: none;
}


footer{
  position: fixed;
  left: 50%;
  bottom: 0px;
  margin: unset;
  transform: translateX(-50%);
}


@media only screen and (max-width: 480px){
  
}


@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes fadeInOut{
  0%   {opacity: 0;}
  30%  {opacity: 1;}
  80%  {opacity: 1;}
  100% {opacity: 0;}
}
.hidden{
  display: none !important;
}