#navbar .title{
  color: cornflowerblue;
}
#navbar .navlinks{
  width: calc(100% - 272px);
}
#navbar .navlinks a div{
  background-color: cornflowerblue;
}
#navbar .navlinks a:hover{
  color: cornflowerblue;
}
#pageContent{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;
  animation: 0.2s ease fadeIn forwards;
}
#pageContent .heading{
  width: unset;
}
#title{
  font-size: 30px;
  border-bottom: 1px solid grey;
}
#time{
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 7px;
  font-size: 44px;
  font-weight: 600;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
#date{
  font-size: 24px;
}
#year{
  margin-top: 0px;
  font-size: 18px;
}
input{
  width: 440px;
  font-size: 22px;
  border: 1px solid grey;
  border-radius: 5px;
}
#output-link{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: unset;
}
#output-link-text{
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid grey;
  border-radius: 3px 0px 0px 3px;
  user-select: all;
}
#output-link-copy{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 44px;
  background-color: lightskyblue;
  border: 1px solid grey;
  border-left: unset;
  border-radius: 0px 3px 3px 0px;
  box-sizing: border-box;
  cursor: pointer;
}
#output-link-copy img{
  width: 85%;
  transform: rotate(-45deg);
}
#output-link-copy:hover{
  box-shadow: 0px 0px 3px grey;
}

.button{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 12px;
  color: black;
  text-decoration: none;
  background-color: lightskyblue;
  border: unset;
  border-radius: 20px;
  box-sizing: border-box;
  transition: 0.2s ease all;
}
.button img{
  margin-right: 5px;
}
.button p{
  margin: unset;
  margin-bottom: 3px;
  font-size: 20px;
}
.button:hover{
  box-shadow: 0px 0px 3px grey;
}

footer{
  position: fixed;
  left: 50%;
  bottom: 0px;
  margin: unset;
  transform: translateX(-50%);
}


@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}
.hidden{
  display: none !important;
}